title = "My blog"
tagline = "Life's a Journey!"
htmlTitle = "cool blog"
favicon = "https://s3-us-west-2.amazonaws.com/atronandbeyond.com/favicon.ico"
analyticsKey = "secret-key"
author {
    github = "http://github.com/me"
    linkedin = "http://linkdin.com/me"
    twitter = "http://twitter.com/me"
}