/*
http://www.colourlovers.com/palette/147921/Blue_Kitten
*/

/*
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #ECE59A;
    color: #250352;
}

a {
    color: #2C3B63;
}

a:hover {
    text-decoration: none;
    color: #848D82;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 10px;
}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.3rem;
    margin-top: -5px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

.read-post {
    font-size: 1rem;
}

.single-post {
    font-size: 2rem;
}

.date {
    color: #848D82;
    font-size: .9rem;
}

.big-date {
    color: #848D82;
    font-size: 1.1rem;
}
*/

p {
    line-height: 30px;
    font-size: 18px;
}