title = "My blog"
tagline = "Life's a Journey!"
htmlTitle = "cool blog"
url = "https://me.com"
favicon = "https://s3-us-west-2.amazonaws.com/atronandbeyond.com/favicon.ico"
trackingId = "secret-key"
username = "admin"
password = "admin"
number_of_tags_in_navbar = 3
admin_take_size = 200
author {
    github = "https://github.com/me"
    linkedin = "https://linkdin.com/me"
    twitter = "https://twitter.com/me"
}